.bg-fade-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 2s ease-in-out;
}

.gamebanners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamebanner {
    max-width: 800px;
    width: 50%;
    padding: 1rem;
}

.gamebanner .version,
.gamebanner .map,
.gamebanner .status {
    font-size: 1rem !important;
    line-height: 1;
}

.title-text-shadow {
    text-shadow: -1px -1px 2px rgba(0,0,0,0.2),
                        1px -1px 2px rgba(0,0,0,0.2),
                        -1px 1px 2px rgba(0,0,0,0.2),
                        1px 1px 2px rgba(0,0,0,0.2),
                        4px 4px 5px rgba(0, 0, 0, 0.5),
                        10px 2px 5px rgba(0, 0, 0, 0.8);
    animation: pulseOutline 5s infinite ease-in-out;
    position: relative;
}

#main-title-container {
    text-align: center;
    margin-bottom: 2rem;
}

#main-title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3.75rem;
    margin-bottom: 2rem;
    letter-spacing: 0.05em;
    color: #8B0000;
    white-space: nowrap;
}

#intro-text {
    font-style: italic;
    font-size: 1.125rem;
    color: #d1d5db;
    margin-bottom: 0.5rem;
}

#dust-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.letter-span {
    opacity: 0;
    animation: fadeInLetter 3.0s forwards;
}

@keyframes fadeInLetter {
    to {
    opacity: 1;
    }
}

.glitching {
    animation: glitchEffect 0.4s linear;
}

@keyframes pulseOutline {
    0%, 100% {
        text-shadow: -1px -1px 2px rgba(0,0,0,0.2),
                            1px -1px 2px rgba(0,0,0,0.2),
                            -1px 1px 2px rgba(0,0,0,0.2),
                            1px 1px 2px rgba(0,0,0,0.2),
                            4px 4px 5px rgba(0, 0, 0, 0.5),
                            10px 2px 5px rgba(0, 0, 0, 0.8);
    }
    50% {
        text-shadow: -1px -1px 2px rgba(0,0,0,0.2),
                            1px -1px 2px rgba(0,0,0,0.2),
                            -1px 1px 2px rgba(0,0,0,0.2),
                            1px 1px 2px rgba(0,0,0,0.2),
                            4px 4px 5px rgba(0, 0, 0, 0.5),
                            12px 4px 8px rgba(0, 0, 0, 0.8);
    }
}

@keyframes glitchEffect {
    0%, 100% { transform: translate(0, 0); opacity: 1; }
    20% { transform: translate(30px, -20px); opacity: 0; }
    40% { transform: translate(-25px, 25px); opacity: 1; }
    60% { transform: translate(20px, 15px); opacity: 0; }
    80% { transform: translate(-15px, -10px); opacity: 1; }
}

section#alerts .mt-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

#alertMainButton {
    display: inline-block;
    margin: 0 auto;
}
